$border: 1px solid #000;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;

.single-business {
  background-color: #282828;
  border: $border;
  display: inline-block;
  height: 22.1875em;
  margin-left: 1.8125em;
  margin-top: 1.6875em;
  position: relative;
  width: 13.25em;
}

.image-container {
  align-items: center;
  display: flex;
  height: 13.25em;
  justify-content: center;
  width: 13.25em;
}

.business-score {
  color: $red;
  left: .625em;
  position: absolute;
  top: .625em;
}

.business-name {
  color: $yellow;
  font-size: 1.375em;
  height: 1.6875em;
}

.business-title {
  color: $white;
  font-size: .875em;
  height: 1.0625em;
  left: .4375em;
  position: absolute;
  top: 16.125em;
  width: 9.6875em;
}

.business-description {
  -webkit-box-orient: vertical;
  color: #adafb2;
  display: -webkit-box !important;
  font-size: .75em;
  height: 2.5em;
  left: .6em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20.71875em;
  width: 16.125em;
  word-break: break-all;
}

.business-infor {
  position: absolute;
  top: 1.25em;
}

.business-keywords {
  color: #adafb2;
  font-size: 12px;
  height: .875em;
  left: .75em;
  position: absolute;
  top: 25.375em;
  width: 7.3125em;
}

.business-more {
  color: $yellow;
  font-size: .75em;
  height: .875em;
  left: 14em;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 25.375em;
  width: 2.1875em;
}
