$border: 1px solid #000;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;
$card-width: calc(100% / 3 - 20px);

.single-business {
  background-color: #282828;
  border: $border;
  cursor: pointer;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  height: 22.1875em;
  margin: 10px;
  position: relative;
  width: $card-width;
}

.image-container {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 13.25em;
  justify-content: center;
  position: relative;
  width: 100%;
}

.image-container:hover {
  .business-name {
    color: $yellow;
    display: block;
    font-size: 1.375em;
  }
}

.business-score {
  color: $red;
  display: block;
  left: 0;
  margin: 0;
  padding-left: .5em;
  position: absolute;
  top: 0;
}

.business-name {
  display: none;
}

.business-title {
  color: $white;
  font-size: .875em;
  height: 1.0625em;
  padding-left: .3em;
}

.business-description {
  -webkit-box-orient: vertical;
  color: #adafb2;
  display: -webkit-box !important;
  font-size: .75em;
  height: 1.9em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-bottom: .5em;
  padding-left: .5em;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
}

.business-infor {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 3px 2px;
  box-sizing: border-box;
}

.business-keywords {
  color: #adafb2;
  float: left;
  font-size: 12px;
  padding-left: .3em;
}

.business-more {
  color: $yellow;
  float: right;
  font-size: .75em;
  height: .875em;
  padding-right: .3em;
  text-decoration: none;
  text-transform: uppercase;
}
