$border: 1px solid #e6e6e6;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;
$card-width: calc(100% / 3 - 20px);

.single-business {
  background-color: #f2f2f2;
  border: $border;
  cursor: pointer;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  height: 22.1875em;
  margin: 10px;
  position: relative;
  width: $card-width;
}
.single-business:hover {
  background: #d8d8d8;
}

.image-container {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 13.25em;
  justify-content: center;
  position: relative;
  width: 100%;
}

.image-container:hover {
  .business-name {
    color: #bd1f1f;
    display: flex;
    font-size: 1.375em;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
  }
}

.business-score {
  color: $red;
  display: block;
  left: 0;
  margin: 0;
  padding-left: .5em;
  position: absolute;
  top: 0;
}

.business-name {
  display: none;
}

.business-title {
  font-size: .875em;
  height: 1.0625em;
  padding-left: .3em;
}

.business-description {
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  font-size: .75em;
  height: 1.9em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-bottom: .5em;
  padding-left: .5em;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: break-word;
}

.business-infor {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  padding: 3px 2px;
  box-sizing: border-box;
}

.business-keywords {
  float: left;
  font-size: 12px;
  padding-left: .3em;
}

.business-more {
  color: #bd1f1f;
  float: right;
  font-size: .75em;
  height: .875em;
  padding-right: .3em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .single-business {
    flex: 0 0 25%;
    margin: 10px auto;
  }
}

@media screen and (min-width: 376px)and (max-width: 425px){
  .single-business {
    flex: 0 0 40%;
    margin: 10px auto;
    height: 16em;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  .single-business {
    flex: 0 0 90%;
  }
}

@media screen and (max-width: 320px){
.single-business {
  flex: 0 0 90%;
}
}



