@import '../../scss/variables';

.common-header {
  align-items: center;
  background-color: #bd1f1f;
  display: flex;
  flex-flow: row nowrap;
  height: $homePageHeaderHeight;
  justify-content: flex-start;
 
  .menu {
    background: url('./align_text_left.png') no-repeat center;
    border: 0;
    cursor: pointer;
    height: 3.125em;
    transform: scale(.5);
    width: 3.125em;
  }
}
