.common-header {
  background: linear-gradient(0deg, #4b4b4b 30%, #000000);
  width: 100%;
  height: 4.8125em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  .menu {
    border: none;
    width: 3.125em;
    height: 3.125em;
    transform: scale(0.5);
    background: url('./align_text_left.png') no-repeat center;
  }
}