
.register-page {
  height: 100vh;
  
  .register-page-content {
    align-items: center;
    background-color: #4b4b4b;
    display: flex;
    height: calc(100vh - 4.8125em);
    justify-content: center;
  }
};
