@import '../../scss/variables';

.home-page-header {
  align-items: center;
  color: #fff;
  background-color: $deeperRed;
  display: flex;
  height: $homePageHeaderHeight;
  justify-content: space-between;
  padding: 0 1.5em;

  .home-page-header-left {
    align-items: center;
    display: flex;

    .menu {
      cursor: pointer;
    }
  }

  .home-page-header-right {
    cursor: pointer;
    button {
      border: 0;
      color: #fff;
      font-size: 1em;
      outline: 0;
      font-weight: bold;
      padding-right: 1em;
      background: no-repeat right/22% url("./arrow1.png");
      display: inline-block;
    }
  }

  .header-log-btn {
    color: #fff;
  }
}

.search {
  background: url('./search.png') no-repeat .2em .1em;
  background-color: #fff;
  background-size: 1.75em 1.75em;
  border-radius: .9375em;
  height: 2.1875em;
  margin: .1875em 0 0 3.125em;
  outline: none;
  padding: .375em .9375em .375em 1.875em;
  width: 21.875em;
}

.menu {
  background: url('./align_text_left.png') no-repeat center;
  border: 0;
  height: 3.125em;
  transform: scale(.5);
  width: 3.125em;
};
