$border: 1px solid #000;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;

.nav-title {
  background-color: #4b4b4b;
}

.nav-title h1 {
  color: $white;
  font-size: 2em;
  margin: 0 0 0 1em;
}

.nav-container {
  align-items: flex-start;
  background-color: #4b4b4b;
  border-bottom: 1px solid #adafb2;
  display: flex;
  height: 3em;
  justify-content: space-between;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
}

.nav-link-origin {
  border-bottom: 1px solid #adafb2;
  color: #adafb2;
  font-size: .85em;
  height: .875em;
  padding: 1.32em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link-change {
  border-bottom: 1px solid #ff0;
  color: #fff;
  font-size: .85em;
  height: .875em;
  padding: 1.32em 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.comment-img {
  height: 1em;
  margin-top: -2px;
  position: absolute;
  top: 1.5em;
  width: 1em;
}

// .nav-container a:first-child {
//   color: #fff;
//   width: 5.9375em;
// }

// .nav-container a:nth-child(2) {
//   width: 7.9375em;
// }

// .nav-container a:nth-child(3) {
//   width: 5.9375em;
// }

// .nav-container a:nth-child(4) {
//   width: 7.9375em;
// }

// .nav-container a:nth-child(5) {
//   padding-right: 2em;
//   width: 9.9375em;
// }

.nav-container a:hover {
  background-color: #313131;
}
