$border: 1px solid #000;
$red: #d93738;
$yellow: #f8e71c;
$white: #fff;

.home-page-navigation-container {
  background-color: #f5f5f5;
  padding-top: 1em;
}
.nav-title {
  background-color: transparent;
}

.nav-title h1 {
  font-size: 2em;
  margin: 0 0 0 1em;
}

.nav-container {
  align-items: flex-start;
  background-color: transparent;
  border-bottom: 1px solid #adafb2;
  display: flex;
  height: 3em;
  justify-content: space-between;
  padding: 0 2em;
  position: relative;
  padding-top: 1em;
  a {
    font-size: .85em;
    height: .875em;
    padding: 1.32em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid;
    color: #999;
  }
  a:hover {
    color: #000;
  }
  .nav-link-clicked {
    color: #000;
  }
}
.comment-img {
  height: 1em;
  margin-top: -2px;
  position: absolute;
  top: 1.5em;
  width: 1em;
}

.nav-container a:hover {
  color: #000;
}
