$map-width: 35%;
$container-width: calc(13.25em * 3 + 9% + 4em);

body {
  margin: 0;
}

.home-page {
  background-color: #4b4b4b;
  display: flex;
  height: 100vh;

  .home-page-main {
    height: 100vh;
    width: $container-width;
  }

  .google-map-component {
    height: 100vh;
    width: calc(100% - #{$container-width});
  }
}

.ant-notification-notice-close-x::after {
  content: 'Close';
}
