$mapWidth: 45%;
$containerWidth: 55%;
$testHeight: 64.6875em;
body {
  margin: 0;
}

.home-page {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: calc(100vh - 4.812em);  
}

.home-page-container {
  order: 0;
  flex-basis: $containerWidth;
  background-color: #4B4B4B;
  height: 100%;
  
}

.home-page-map {
  order: 1;
  flex-basis: $mapWidth;
  width: $mapWidth;
  height: 100%;  
}
