.detail-page-map-container {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  width: 35%;

  .google-map-component {
    border: 1px solid #808080;
    height: 70%;
    width: 100%;
  }

  p {
    font-size: small;
    margin: 10px 0;
  }
}
