$form-width: calc(100% - 2em);

.creating-new-business-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 1em;
  width: 50%;
  font-size: 12px;
  p {
    font-size: initial;
  }
  .business-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: $form-width;
  }

  input {
    outline: 0;
    margin-bottom: 1em;
    font-size: 12px;
    padding: .3em;
    border-radius: 5px;
  }

  textarea {
    outline: 0;
    font-size: 12px;
    margin-bottom: 1em;
    border-radius: 5px;
  }

  .business-submit {
    background: linear-gradient(#d90007, #c91400);
    border: 1px solid #8d0005;
    border-radius: 12px;
    font-family: Arial;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 100%;
    outline: none;
  }
  .business-submit:hover {
    background: #e11002;
  }
}