$border: 1px solid #7E6D6D;
$red: #D93738;
$yellow: #F8E71C;
$white: #FFFFFF;
.business-overview-title {
  font-size: 1.2em;
  width: 47.4375em;
  background-color: #4B4B4B;
  color: #FFFFFF;
  margin: 0 0 0 1.5em;
  padding: 1em 0 0 0;
}

 #business-overview-container {
  width: 100%;
  background-color: #4B4B4B;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 86px - 4.8125em);
}
