.display-business-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: solid 1px;
  margin: 0 2em;
  padding-bottom: 1em;
}

.single-business-title-name {
  margin: 0;
}

.single-business-links-container {
  width: 40em;
}

.single-business-rating {
  pointer-events: none;
}

.single-business-links {
  border: 1px solid #fff;
  border-radius: .5em;
  margin: 0 1em;
  padding: .5em 1em;
}

.single-business-links:hover {
  background-color: #f5a623; 
  cursor: pointer;
}