.display-image {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: space-between;
  width: 60%;

  .center {
    box-shadow: 1px 1px 10px 3px #fff;
    transform: scale(1.1);
  }

  .slot {
    height: 100%;
    width: calc(100% / 3);

    img {
      height: 100%;
      width: 100%;
    }
  }

  .slot:hover {
    box-shadow: 1px 1px 10px 3px #fff;
    transform: scale(1.1);
  }
}

