body {
  margin: 0;
}

* {
  font-family: 'Work Sans', sans-serif;
}

.root-dark {
  .infoWindow {
    h3 {
      color: #000;
    }
  }
  .home-page-header {
    background: linear-gradient(0deg, #4b4b4b 30%, #000);
  }
  .common-header {
    background: linear-gradient(0deg, #4b4b4b 30%, #000);
  }
  .home-page-main {
    background-color: #4b4b4b;
    color: #fff;
    .home-page-navigation-container {
      background: #4b4b4b;
      a:hover {
        color:#fff;
      }
      .nav-link-selected {
        color: #fff;
      }
    }
    .single-business {
      background: #282828;
      border: 1px solid #000;
    }
    .single-business:hover {
      background: #000;
    }
  }

  .single-business-page {
    background: #4b4b4b;
    color: #fff;
    .comment-list-container {
      background: transparent;
    }
    .detail-page-map-container {
      color: #000;
    }
  }
  .login-page-content {
    background-color: #4b4b4b;
    .login-box {
      background-color: #eee;
      box-shadow: -8px 31px 71px 3px rgba(10, 8, 13, 1);
    }
  }
  .register-page-content {
    background-color: #4b4b4b;
    .login-box {
      background-color: #eee;
      box-shadow: -8px 31px 71px 3px rgba(10, 8, 13, 1);
    }
  }
  .creating-new-business {
    background-color: #4b4b4b;
    color: #fff;
    .business-submit {
      background: #2a2a2a;
      border-color: #000;
    }
    .business-submit:hover {
      background: #000;
    }
  }
}

