.single-business-page {
  background-color: #4b4b4b;
  min-height: 100vh;  		
}

.display-business {
  align-content: center;
  align-items: center;
  display: flex;
  height: 18em;
  justify-content: space-between;
  padding: 2em 8em;
}
