.single-business-page {
  min-height: 100vh;
  background: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}

.display-business {
  align-content: center;
  align-items: center;
  display: flex;
  height: 18em;
  justify-content: space-between;
  padding: 2em 8em;
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_styleguide/ef1e928917fa/assets/img/structural/cityscape.png) no-repeat center;
}

